// https://meta.discourse.org/t/how-to-develop-custom-themes/60848

$red: #944444;
$red-light-1: lighten($red, 40%);
$red-light-2: lighten($red, 30%);

$dark: #222222;
$light: #fefefe;
$grey-1: #cecece;
$grey-2: #bdbdbd;
$grey-3: #a0a0a0;
$grey-4: #757575;
$grey-5: #424242;

$header-height: 36px;

html, body {
    font-family: Nunito !important;
}

.d-header {
    box-shadow: none;
    height: $header-height;
    padding: 0;

    .wrap {
        max-width: initial;
        padding: 0;
    }

    .contents {
        margin: 0;
    }

    .icons {
        a {
           height: $header-height;
           padding: 0 10px !important;
           margin-top: -1px;
           display: flex !important;
           align-items: center;
        }
        i {
            height: $header-height * .75 !important;
            width: $header-height * .75 !important;
            font-size: $header-height * .5 !important;
            line-height:  $header-height * .75 !important;
        }
    }

    .title a {
        background: $light;
        display: block;
    }

    img {
        height: 36px;
        &.avatar {
            height: $header-height * .75;
            width: $header-height * .75;
        }
    }
}

.menu-panel,
.topic-area,
.search-advanced .search-advanced-options,
.topic-avatar,
.topic-body,
#reply-control .wmd-controls .d-editor-input, #reply-control .wmd-controls .d-editor-preview,
.select2-container-multi .select2-choices,
.dropdown-menu a,
.select2-choice,
.select2-drop {
    background: $light;
}

.topic-avatar,
.topic-body {
    border: 0;
}

.topic-area {
    padding: 0 1rem;
}

article  {
    & > .row {
        display: flex;
    }

    .topic-map section {
        background-color: $grey-1;
    }
}

.small-action {
    margin: 10px 0 10px 0 !important;
    background-color: $red-light-1;
    border: 0;
    display: flex;
    .small-action-desc {
        color: $red !important;
        flex: 1;
        padding: .25em 1em;
        // flex-grow: 1;
    }
    .topic-avatar {
        background-color: $red-light-2;
        // flex: 1;

        i {
            color: $red;
        }
    }
    p {
        font-weight: 300;
    }
}

.composer-popup,
div.menu-links-header a:hover,
.user-menu .notifications li:hover,
.dropdown-menu li>a:hover, 
.dropdown-menu .active>a, 
.dropdown-menu .active>a:hover,
.menu-panel ul.menu-links li a:hover, 
.menu-panel ul li.heading a:hover,
.select2-results .select2-highlighted {
    background: $red-light-1;
}


div.menu-links-header a {
    color: $dark;
}
.settings .setting.overridden h3 {
    color: $red;
    font-weight: 700;
}

.dashboard-stats table thead th {
    background: $grey-4;
    color: $light;
}

.topic-avatar,
.topic-body,
table,
.topic-list > tbody > tr,
.category-list tbody tr {
    border-color: $grey-3 !important;
}

.title {
    font-weight: 600;

    &.visited {
        font-weight: 300;
    }
}

.category-description,
.topic-list a.title.visited:not(.badge-notification) {
        color: $grey-5;
}

.badge-notification {
    background-color: $dark;
}

.select2-container-multi .select2-choices .select2-search-field input,
body textarea,
body input[type="text"], body input[type="password"], body input[type="datetime"], body input[type="datetime-local"], body input[type="date"], body input[type="month"], body input[type="time"], body input[type="week"], body input[type="number"], body input[type="email"], body input[type="url"], body input[type="search"], body input[type="tel"], body input[type="color"] {
    background-color: $light !important;
    border: 1px solid #e9e9e9;
    border-radius: 0;
    box-shadow: none;
}

.fps-result{
    padding: 20px 0;
    background-color: $light;
}

.extra-info-wrapper {
    h1 {
        display: inline-block;
    }
    // position: relative;
    background-color: $dark;
    padding: 0 10px;
    line-height: 36px;
    .discourse-tags a {
        color: $dark !important;
    }
    .badge-wrapper {
        line-height: 30px;
    }
    * {
        vertical-align: middle;
    }
}

.directory table tr.me td .username a, .directory table tr.me td .name, .directory table tr.me td .title, .directory table tr.me td .number, .directory table tr.me td .time-read {
    color: #e9e9e9;
}
.directory table tr.me td {
    background-color: #424242;
}