.game-menu {
    position: fixed;
    z-index: 1001;
    right: 147px;
    left: initial;

    a {
        display: block;
        height: $header-height;
        line-height: $header-height;
        background-color: $red;
        color: $light;
        padding: 0 1rem;
    }
}